


/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
.Heading1 {
font-style: italic; margin-bottom: 10px; font-size: 35px;
}

.Heading2 {
font-style: italic;     margin-bottom: 10px; font-size: 26px;
}

.Heading3 {
font-style: italic;     margin-bottom: 10px; font-size: 22px;
}

.BlockQuote {
  border-bottom: 1px solid #BFBFBF;     border-top: 1px solid #BFBFBF;     font-size: 150%;     font-style: italic;     margin: 20px 0;     padding: 45px 0;     width: 200%;
}

